<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mhy.tv.remotecontrol" >
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW"/>
    <uses-permission android:name="android.permission.INJECT_EVENTS"/>
    <application
        android:debuggable="true"/>
</manifest>
